<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<connectionStrings>
		<add name="MMNDatabase" connectionString="Server = 127.0.0.1;Database=postgres;User Id = postgres; Password=1234;Timeout=15;" />
	</connectionStrings>
	<appSettings>
		<add key="PathToErrorLogs" value="D:\Desktop\"/>
		<add key="OPCServerName" value="KEPware.KEPServerEx.V4"/>
		<add key="OPCNode" value="MMNChannel.MMNBase."/>
		<add key="tagDynamicTest" value="Test.com"/>
		<add key="tagPota1ReadT" value="Pota1.temperature_read"/>
		<add key="tagPota1ReadRpm" value="Pota1.rpm_read"/>
		<add key="tagPota2ReadT" value="Pota2.temperature_read"/>
		<add key="tagPota2ReadRpm" value="Pota2.rpm_read"/>
		<add key="tagPota3ReadT" value="Pota3.temperature_read"/>
		<add key="tagPota3ReadRpm" value="Pota3.rpm_read"/>
		<add key="tagPota4ReadT" value="Pota4.temperature_read"/>
		<add key="tagPota4ReadRpm" value="Pota4.rpm_read"/>
		<add key="tagBurnerRead" value="Burner.read"/>
		<add key="tagFurnaceRead" value="Furnace.read"/>
		<add key="tagFilterRead" value="Filter.read"/>
		<add key="tagScaleRead" value="Scale.read"/>
		<add key="tagPota1T" value="Pota1.temperature"/>
		<add key="tagPota1Rpm" value="Pota1.rpm"/>
		<add key="tagPota2T" value="Pota2.temperature"/>
		<add key="tagPota2Rpm" value="Pota2.rpm"/>
		<add key="tagPota3T" value="Pota3.temperature"/>
		<add key="tagPota3Rpm" value="Pota3.rpm"/>
		<add key="tagPota4T" value="Pota4.temperature"/>
		<add key="tagPota4Rpm" value="Pota4.rpm"/>
		<add key="tagBurnerTGas" value="Burner.temperatureGas"/>
		<add key="tagBurnerTOx" value="Burner.temperatureOx"/>
		<add key="tagBurnerExpenseGas" value="Burner.expenseGas"/>
		<add key="tagBurnerExpenseOx" value="Burner.expenseOx"/>
		<add key="tagBurnerSumExpenseGas" value="Burner.sumExpenseGas"/>
		<add key="tagBurnerSumExpenseOx" value="Burner.sumExpenseOx"/>
		<add key="tagBurnerPressureGas" value="Burner.pressureGas"/>
		<add key="tagBurnerPressureOx" value="Burner.pressureOx"/>
		<add key="tagFurnaceSetpoint" value="Furnace.setpoint"/>
		<add key="tagFurnaceSpeed" value="Furnace.speed"/>
		<add key="tagFilterT" value="Filter.temperature"/>
		<add key="tagFilterLoad" value="Filter.load"/>
		<add key="tagScaleWeight" value="Scale.weight"/>
	</appSettings>
</configuration>